::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ff92c2;
}

.app_form_input {
    padding: 7px 10px;
    width: 520px;
    background-color: #fdfffc;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    margin-right: 30px;
    word-spacing: 5px;
    letter-spacing: 1px;
    border: none;
}

.app_form_search {
    border-radius: 5px;
    background-color: #fdfffc;
    border: none;
    padding: 7px 10px;
    transition: 0.2s ease-in;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.app_form_search:hover {
    transform: scale(1.03);
}

.recipes_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 260px 260px 260px;
    align-items: center;
    grid-gap: 40px;
}

@media screen and (max-width: 768px) {
    .recipes_container {
        margin-top: 20px;
        grid-template-columns: 140px 140px;
    }
    .app_form_input {
        padding: 4px 7px;
        font-size: 16px;
        margin-right: 20px;
        word-spacing: 3px;
        letter-spacing: 0.7px;
        width: 188px;
    }
    .app_form_search {
        border-radius: 5px;
        padding: 4px 7px;
        font-size: 14px;
        letter-spacing: 0.7px;
    }
}